streamlit
python-dotenv
pinecone-client
langchain-pinecone
langchain-openai
langchain-core
langchain-community
langchain-text-splitters
pandas
pypdf
numpy
matplotlib
seaborn
scikit-learn
imbalanced-learn
joblib

